---
import { getCollection } from "astro:content";
import CardsWrapper from "../card/CardsWrapper.astro";
import ExperienceCard from "../card/ExperienceCard.astro";

const experience = await getCollection("experience");
---

<section id="experience">
	<h1>Experience</h1>

	<CardsWrapper>
		{
			experience.map((item) => (
				<ExperienceCard
					name={item.data.name}
					years={item.data.years}
					position={item.data.position}
					image={item.data.image}
					description={item.data.description}
					link={item.data.link}
				/>
			))
		}
	</CardsWrapper>
</section>

<style></style>
