---
import { getCollection } from "astro:content";
import ExperienceListItem from "../card/ExperienceListItem.astro";
import ListWrapper from "../wrapper/ListWrapper.astro";

const experience = await getCollection("experience");
const hasMore = experience.length > 4;
---

<section id="experience">
	<h1>Experience</h1>

	<ListWrapper
		id="experience"
		hasMore={hasMore}
		buttonText="View All Experiences"
	>
		{
			experience.map((item) => (
				<ExperienceListItem
					name={item.data.name}
					years={item.data.years}
					position={item.data.position}
					image={item.data.image}
					description={item.data.description}
					link={item.data.link}
				/>
			))
		}
	</ListWrapper>
</section>
