---
import { getCollection } from "astro:content";
import ProjectListItem from "../card/ProjectListItem.astro";
import MasonryWrapper from "../wrapper/MasonryWrapper.astro";

const projects = await getCollection("projects");
const hasMore = projects.length > 4;
---

<section id="projects">
	<h1>Projects</h1>

	<MasonryWrapper
		id="projects"
		hasMore={hasMore}
		buttonText="View All Projects"
	>
		{
			projects.map((item) => (
				<div class="masonry-item">
					<ProjectListItem
						name={item.data.name}
						tags={item.data.tags}
						image={item.data.image}
						links={item.data.links ?? []}
						description={item.data.description}
					/>
				</div>
			))
		}
	</MasonryWrapper>
</section>
