---
import { getCollection } from "astro:content";
import CardsWrapper from "../card/CardsWrapper.astro";

const talks = await getCollection("talksAndConferences");
---

<section id="talks">
	<h1>Talks</h1>

	<CardsWrapper>
		{
			talks.map((talk) => {
				return (
					<div class="card">
						<img
							width="100%"
							height="80%"
							loading="lazy"
							src={talk.data.image.href}
							alt={talk.data.image.alt}
						/>
						<div class="info">
							<div class="name">
								{talk.data.title} at {talk.data.event}
							</div>
							<div class="links">
								{talk.data.links.map((link, i) => {
									return (
										<>
											<a
												href={link.href}
												target="_blank"
												rel="noreferrer"
											>
												{link.text}
											</a>
											{i < talk.data.links.length - 1
												? ", "
												: ""}
										</>
									);
								})}
							</div>
						</div>
					</div>
				);
			})
		}
	</CardsWrapper>
</section>

<style>
	.card {
		background-color: var(--material-black);
		padding: 1em;
		border: 1px solid white;
		border-radius: 5px;
	}

	.card ul {
		padding-left: 20px;
	}

	.card img {
		width: 100%;
		height: 200px;
		object-fit: contain;
		margin-bottom: 1em;
		border-radius: 5px;
	}

	.name {
		margin-bottom: 1em;
		font-weight: bold;
		font-size: 20px;
		font-size: clamp(18px, 2vw, 20px);
	}

	.description,
	.links {
		margin-bottom: 1em;
		line-height: 1.4em;
		font-size: 16px;
		font-size: clamp(15px, 2vw, 17px);
	}

	.links i {
		text-decoration: none;
	}

	.links a:hover {
		color: var(--accent-color);
	}

	.years {
		background-color: #4242425e;
		width: fit-content;
		padding: 0.4em 1em;
		margin-right: 0.5em;
		margin-top: 0.5em;
		border-radius: 1em;
		line-height: 1.5em;
	}

	.info .description {
		margin-bottom: 2em;
	}

	@media screen and (max-width: 900px) {
		.description,
		.links {
			margin-bottom: 1em;
			line-height: 1.4em;
			font-size: 1.9vh;
		}
	}
</style>
