---
import { getCollection } from "astro:content";
import TalkListItem from "../card/TalkListItem.astro";
import MasonryWrapper from "../wrapper/MasonryWrapper.astro";

const talks = await getCollection("talksAndConferences");
const hasMore = talks.length > 4;
---

<section id="talks">
	<h1>Talks</h1>

	<MasonryWrapper id="talks" hasMore={hasMore} buttonText="View All Talks">
		{
			talks.map((talk) => (
				<div class="masonry-item">
					<TalkListItem
						title={talk.data.title}
						event={talk.data.event}
						image={talk.data.image}
						links={talk.data.links}
					/>
				</div>
			))
		}
	</MasonryWrapper>
</section>
