---
import CollapsibleDescription from "../wrapper/CollapsibleDescription.astro";
import Card from "./Card.astro";
import CardName from "./CardName.astro";
import CardImage from "./CardImage.astro";
import CardLinks from "./CardLinks.astro";

type Props = {
	name: string;
	tags: string[];
	image?: {
		src: string;
		alt: string;
	};
	links: {
		icon: string;
		href: string;
		text: string;
	}[];
	description: string[];
};
const { name, tags, image, links, description } = Astro.props;
const itemId = `proj-${name.replace(/\s+/g, "-").toLowerCase()}`;
---

<Card class="project-card">
	<CardName>{name}</CardName>

	{image && <CardImage src={image.src} alt={image.alt} />}

	<CardLinks links={links} />

	<div class="card-tags">
		{tags.map((tag) => <span class="card-tag">{tag}</span>)}
	</div>

	<CollapsibleDescription id={itemId} description={description} />
</Card>

<style>
	.project-card {
		break-inside: avoid;
	}

	.card-tags {
		display: flex;
		flex-wrap: wrap;
		gap: 0.4em;
		margin-bottom: 0.8em;
	}

	.card-tag {
		background-color: #4242425e;
		padding: 0.3em 0.8em;
		border-radius: 1em;
		font-size: clamp(13px, 1.3vw, 15px);
		line-height: 1.5;
	}
</style>
