---
import Card from "./Card.astro";
import CardName from "./CardName.astro";
import CardImage from "./CardImage.astro";
import CardLinks from "./CardLinks.astro";

type Props = {
	title: string;
	event: string;
	image: {
		href: string;
		alt: string;
	};
	links: {
		href: string;
		text: string;
	}[];
};
const { title, event, image, links } = Astro.props;
---

<Card class="talk-card">
	<CardName>{title}</CardName>
	<div class="card-event">at {event}</div>

	<CardImage src={image.href} alt={image.alt} />

	<CardLinks links={links} />
</Card>

<style>
	.talk-card {
		break-inside: avoid;
	}

	.card-event {
		font-size: clamp(15px, 1.6vw, 18px);
		color: var(--accent-color);
		margin-bottom: 0.8em;
	}
</style>
